.homeContainer {
	margin-left: 285px;
	margin-right: auto;
	height: 100vh;
	max-width: 1440px;
	width: 100vw;
	display: flex;

	padding: 6rem 6rem;

	.leftContainer,
	.rightContainer {
		text-justify: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		max-width: 100%;
	}

	.leftContainer {
		h1 {
			font-size: 4em;
			margin-bottom: 1.5rem;
			font-weight: 300;
		}
		> svg {
			position: relative;
			top: 8rem;
			left: -2rem;
			z-index: -1;
		}
		h2 {
			margin-bottom: 2.5rem;
		}
		a {
			margin-bottom: 4rem;
		}
		.row {
			display: flex;
			justify-content: space-between;
			width: 80%;
			font-weight: bold;
		}
	}
	.welcomeImage {
		position: relative;
		display: flex;
		justify-content: center;
		> svg {
			position: absolute;
			top: -5rem;
			left: 5rem;
			width: 100%;
			max-width: 500px;
			opacity: 0.4;
		}
		img {
			width: 400px;
			border-radius: 50%;
		}
	}
	.row {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}
}

@media (max-width: 768px) {
	.homeContainer {
		margin: 0;
		padding: 10px;
		justify-content: center;
		max-height: 100vh;
		.row{
		justify-content: center;

		}
	}
	.leftContainer,
	.rightContainer {
		width: 400px;
		justify-content: flex-start !important;
		align-items: center;
		height: fit-content !important;
	}

	.leftContainer {
		font-size: 12px;
		> svg {
				top: 6rem !important;
				left: -4rem !important;
			}
	}
	.rightContainer {
		.welcomeImage {
			display: none;
			
		}
	}
}
